button {
    background-color: #e7dddd;
    font-size: 17px;
    border-radius: 10px;
    height: 50px;
    width: 40%;
    margin: 10px;
    padding: 10px;
}

p {
    font-size: 17px;
    margin-top: 10px;
}

a {
    color: black;
    text-decoration: none;
}

#homepage_photo {
    height: 200px;
    width: auto;
    border: 5px solid grey;
    padding: 0;
    border-radius: 10px;
}

.greeting_container {
    display: block;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 15px;
}

#intro {
    width: 300px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
}

h3 {
    width: fit-content;
    margin-bottom: 10px;
}

hr {
    width: 100%;
}

#name {
    margin-left: 0;
}

.section_header {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_container {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
}

.group {
    display: block;
}

.recent_projects_heading {
    margin-bottom: 10px;
    background-color: transparent;
}

.welcome {
    display: flex;
    padding: 20px;
    margin: 30px auto;
    justify-content: center;
}

.recent_projects_container {
    padding: 20px;
    background-color: #cce6fd;
}

.work_img {
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.img_text {
    display: block;
}

.card {
    display: block;
    margin: 20px 10px;
    width: 50%;
    height: fit-content;
}

.card_container {
    display: flex;
    width: 100%;
}

img {
    width: 300px;
    box-sizing: border-box;
    vertical-align: middle;
}

.category {
    margin: 0 auto;
}